$text-size: 20vmin;
$text-color: #fff;
$shadow-colors: rgba(#fff, 0.4) rgba(rgb(20, 97, 212), 0.3)
  rgba(rgb(73, 175, 99), 0.4) rgba(rgb(198, 10, 211), 0.4);
$animation-duration: 1200ms;
$shadow-distance-step: 0.033333em;
$background-color: #ff3700;

@function layerize($state) {
  $shadow: 0 0 transparent;
  @for $i from 1 through length($shadow-colors) {
    $shadow: #{$shadow},
      #{$shadow-distance-step *
        $i *
        $state}
        #{$shadow-distance-step *
        $i *
        $state}
        #{nth($shadow-colors, $i)};
  }
  @return $shadow;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#mainTitle {
  animation: layerize cubic-bezier(0.4, 0, 0.2, 1) $animation-duration 200ms
    infinite alternate;
  opacity: 0;
  width: 100%;
  color: $text-color;
  font: 800 $text-size "Poppins", sans-serif;
  cursor: default;
  user-select: none;
  // text-align: center;
  // margin-top: -px;
}

@keyframes layerize {
  0% {
    opacity: 0;
    transform: translate(0, 0);
    text-shadow: layerize(0);
  }
  100% {
    opacity: 1;
    transform: translate(
      $shadow-distance-step * length($shadow-colors) / -2,
      $shadow-distance-step * length($shadow-colors) / -2
    );
    text-shadow: layerize(1);
  }
}
